@charset "UTF-8";
/*公共样式*/
* {
  padding: 0px;
  margin: 0px auto;
  list-style: none;
  text-decoration: none; }

a {
  color: #333; }

.goodsBox {
  width: 98%;
  overflow: hidden; }
.goodsBox h3 {
  background: url(../../imges/shop_title2.png) no-repeat;
  height: 50px;
  position: relative;
  margin: 1%; }

/*头部*/
.newHead {
  height: 30px;
  width: 100%;
  background: #111; }
.newHead .headcontain {
  width: 94%;
  /**左边logo**/
  /*右边*/ }
.newHead .headcontain .yinyueLogo {
  float: left;
  background: url(../../imges/yinLogo.png);
  height: 30px;
  width: 5%;
  margin-left: 1.5%; }
.newHead .headcontain .newTitle {
  position: relative;
  font-size: 12px;
  color: #9B9B9C;
  line-height: 30px;
  margin-left: 67%;
  /*官方微博*/
  /*关注微信*/
  /*正品保证*/ }
.newHead .headcontain .newTitle .scan {
  font-size: 14px;
  color: #ff2c72;
  margin-top: -12px; }
.newHead .headcontain .newTitle .scanMore {
  font-size: 14px;
  color: #1f2021;
  margin-top: -11px; }
.newHead .headcontain .newTitle .sina {
  position: absolute;
  top: 0;
  width: 35%;
  text-align: center;
  z-index: 100;
  cursor: pointer;
  padding: 0 10px; }
.newHead .headcontain .newTitle .sina img {
  width: 100%; }
.newHead .headcontain .newTitle .sina .popsina {
  display: none; }
.newHead .headcontain .newTitle .sina:hover div {
  display: block;
  background: #fff; }
.newHead .headcontain .newTitle .newSeparat1 {
  color: #2f3031;
  font-weight: bold;
  position: absolute;
  left: 37%; }
.newHead .headcontain .newTitle .weixin {
  position: absolute;
  top: 0;
  width: 35%;
  text-align: center;
  left: 36%;
  z-index: 100;
  padding: 0 10px;
  cursor: pointer; }
.newHead .headcontain .newTitle .weixin:hover div {
  display: block;
  background: #fff; }
.newHead .headcontain .newTitle .weixin .popweixin {
  display: none; }
.newHead .headcontain .newTitle .newSeparat2 {
  color: #2f3031;
  font-weight: bold;
  position: absolute;
  left: 69%; }
.newHead .headcontain .newTitle .zhengpin {
  position: absolute;
  top: 0;
  left: 77%;
  cursor: pointer; }
.newHead .headcontain .newTitle .zhengpin a {
  color: #9B9B9C; }

/*登录注册搜索框*/
.bar_bg {
  border-bottom: 1px solid #4c4d4e;
  background: #1f2122;
  height: 130px; }
.bar_bg .shopBar {
  width: 94%;
  position: relative; }
.bar_bg .shopBar .shop_logo {
  float: left;
  margin-top: 28px;
  margin-left: 6%;
  width: 7%;
  height: 77px;
  background: url(../../imges/shop-logo-v1.png) no-repeat; }
.bar_bg .shopBar:hover .input_active {
  background: url(../../imges/search_icon.png) no-repeat -1px -1px; }
.bar_bg .shopBar .shop_search {
  position: relative;
  float: left;
  margin: 45px 0 0 17%;
  width: 39%;
  height: 38px;
  background: url(../../imges/search_icon.png) no-repeat -1px -44px; }
.bar_bg .shopBar .shop_search input {
  position: absolute;
  top: 0px;
  left: 18px;
  width: 90%;
  height: 27px;
  outline: none;
  border: none;
  background: none;
  color: #918f8f;
  line-height: 17px;
  padding-top: 9px;
  overflow: hidden; }
.bar_bg .shopBar .shop_search a {
  position: absolute;
  top: 0;
  right: 15px;
  display: block;
  width: 6%;
  height: 39px;
  background: url(../../imges/search_icon.png) -461px 0 no-repeat; }
.bar_bg .userbox {
  float: right;
  width: 20%; }
.bar_bg .userbox .shop_loginBtn {
  background: url(../../imges/logoin.png) no-repeat 0 51px;
  padding-left: 15%; }
.bar_bg .userbox .shop_loginBtn, .bar_bg .userbox .myorder {
  float: left;
  margin-left: 5%;
  color: #fff;
  line-height: 129px;
  font-size: 12px; }
.bar_bg .userbox .mycart {
  float: left;
  margin-left: 5%;
  display: inline-block;
  width: 20%;
  height: 17px;
  background: url(../../imges/cart-logo-v1.png) no-repeat;
  margin-top: 56px;
  text-align: right;
  color: #fff;
  line-height: 17px;
  padding-left: 7%;
  font-size: 12px; }

.shopnav_bg {
  height: 35px;
  background: #1f2122; }
.shopnav_bg .shopnav {
  position: relative;
  width: 94%;
  height: 35px; }
.shopnav_bg .shopnav .index a {
  color: #ff2c72;
  padding-bottom: 6%;
  border-bottom: 2px solid #ff2c72; }
.shopnav_bg .shopnav .left_type {
  float: left;
  position: relative;
  width: 18%;
  background: #191a1b;
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 35px;
  cursor: pointer; }
.shopnav_bg .shopnav .left_type :hover {
  color: red;
  padding-bottom: 3%;
  border-bottom: 2px solid #ff2c72; }
.shopnav_bg .shopnav a {
  color: #fff;
  font-size: 14px; }
.shopnav_bg .shopnav .navbox {
  float: right;
  width: 80%;
  position: absolute;
  right: 0; }
.shopnav_bg .shopnav .navbox li {
  width: 12.5%;
  float: left;
  cursor: pointer;
  height: 32px;
  color: #f5f5f5;
  font-size: 14px;
  line-height: 35px;
  text-align: center; }
.shopnav_bg .shopnav .navbox li :hover {
  color: red;
  padding-bottom: 6%;
  border-bottom: 2px solid #ff2c72; }

.shopMenu {
  position: fixed;
  bottom: 10%;
  left: 50%;
  z-index: 50;
  margin-left: 45%;
  width: 62px;
  height: 241px; }
.shopMenu a {
  display: block;
  margin-bottom: 8px;
  width: 60px;
  height: 60px;
  background: url(../../imges/list.png) no-repeat; }
.shopMenu .shopMenu_cart {
  background-position: -3px -3px; }
.shopMenu .shopMenu_cart:hover {
  background-position: -75px -3px; }
.shopMenu .shopMenu_service {
  background-position: -3px -64px; }
.shopMenu .shopMenu_service:hover {
  background-position: -75px -64px; }
.shopMenu .shopMenu_notice {
  background-position: -3px -125px; }
.shopMenu .shopMenu_notice:hover {
  background-position: -75px -125px; }
.shopMenu .return_top {
  height: 62px;
  background-position: -3px -186px; }
.shopMenu .return_top:hover {
  display: block;
  background-position: -75px -186px; }

.centerBox_detail {
  width: 84%; }
.centerBox_detail .detail_title {
  height: 77px;
  color: #abadae;
  font-size: 14px;
  line-height: 77px; }
.centerBox_detail .goodsBox_Pic {
  float: left; }
.centerBox_detail .goodsBox_Pic .goodsPic {
  width: 420px;
  height: 420px;
  border: 1px solid #e5e5e5; }
.centerBox_detail .goodsBox_Pic .goodsPic img {
  width: 100%;
  margin-left: 0px;
  margin-top: 17.5px; }
.centerBox_detail .goodsBox_Pic .operateBox {
  position: relative;
  padding: 20px 0 10px;
  left: -20px; }
.centerBox_detail .goodsBox_Pic .operateBox p {
  float: right;
  color: #c0c2c3;
  font-size: 14px;
  line-height: 14px; }
.centerBox_detail .goodsBox_Pic .operateBox .like span {
  margin-right: 10px;
  cursor: pointer;
  display: inline-block;
  width: 13px;
  height: 10px;
  background: url(../../imges/buttom.png) 0 -72px no-repeat; }
.centerBox_detail .goodsBox_Pic .operateBox .share span {
  display: inline-block;
  margin-right: 10px;
  width: 30px;
  height: 14px;
  background: url(../../imges/detail_ico.png) no-repeat 0 -85px;
  vertical-align: middle;
  cursor: pointer;
  padding-left: 22px; }
.centerBox_detail .goodsBox_Pic .picSlide {
  position: relative; }
.centerBox_detail .goodsBox_Pic .picSlide .slick {
  padding-left: 45px;
  width: 420px; }
.centerBox_detail .goodsBox_Pic .picSlide .slick .slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
.centerBox_detail .goodsBox_Pic .picSlide .slick .slick-list .slick-track {
  opacity: 1;
  width: 94px; }
.centerBox_detail .goodsBox_Pic .picSlide .slick .slick-list .slick-track .slick-pics {
  width: 94px;
  float: left;
  height: 100%; }
.centerBox_detail .goodsBox_Pic .picSlide .slick .slick-list .slick-track .slick-pics img {
  padding: 5px;
  width: 44px;
  height: 44px;
  cursor: pointer; }
.centerBox_detail .goodsBox_Pic .picSlide .pic_arr {
  position: absolute;
  top: 8px;
  width: 17px;
  height: 30px;
  background: url(../../imges/detail_ico.png) no-repeat; }
.centerBox_detail .goodsBox_Pic .picSlide .pic_pre {
  left: 22px;
  background-position: 0 0; }
.centerBox_detail .goodsBox_Pic .picSlide .pic_next {
  right: 22px;
  background-position: 0 -28px; }
.centerBox_detail .goodsBox_info {
  position: relative;
  float: left;
  margin-left: 25px;
  padding-right: 15px;
  width: 425px;
  min-height: 508px;
  border-right: 1px solid #ddd; }
.centerBox_detail .goodsBox_info .goodsTitle {
  color: #333739;
  font-weight: bold;
  font-size: 16px; }
.centerBox_detail .goodsBox_info div {
  margin-top: 15px; }
.centerBox_detail .goodsBox_info div p {
  display: inline-block;
  color: #616567;
  font-size: 14px; }
.centerBox_detail .goodsBox_info div h4 {
  display: inline-block;
  margin-right: 14px;
  width: 56px;
  color: #b9bbbc;
  text-align: left;
  font-size: 14px;
  padding-left: 3px; }
.centerBox_detail .goodsBox_info .price {
  margin-top: 8px; }
.centerBox_detail .goodsBox_info .price p {
  color: #ff2c72;
  font-weight: bold;
  font-size: 28px; }
.centerBox_detail .goodsBox_info .price p .pre {
  display: inline-block;
  margin-left: 16px;
  color: #a1a3a3;
  text-decoration: line-through;
  font-weight: 200;
  font-size: 12px; }
.centerBox_detail .goodsBox_info .selectBox {
  position: relative;
  padding: 18px 0 30px;
  border-top: 1px solid #f2f2f2;
  min-height: 200px; }
.centerBox_detail .goodsBox_info .selectBox .count p {
  margin-left: 15px;
  color: #adafb0;
  font-size: 14px; }
.centerBox_detail .goodsBox_info .selectBox .count a {
  display: inline-block;
  width: 24px;
  height: 30px;
  background: #eaeaea;
  color: #fff;
  vertical-align: middle;
  text-align: center;
  font-size: 20px;
  line-height: 25px;
  cursor: pointer; }
.centerBox_detail .goodsBox_info .selectBox .count input {
  width: 42px;
  height: 28px;
  border: 1px solid #c9c9c9;
  color: #333739;
  vertical-align: middle;
  text-align: center;
  font-size: 14px; }
.centerBox_detail .goodsBox_info .divbtns .btnBox .addToCart {
  width: 170px;
  height: 50px;
  background: url(../../imges/detail_btn.png) no-repeat -10px -10px;
  cursor: pointer;
  margin-right: 10px;
  border: none;
  outline: none; }
.centerBox_detail .goodsBox_info .divbtns .btnBox .buyNow {
  margin-right: 10px;
  width: 170px;
  height: 50px;
  background: url(../../imges/detail_btn.png) no-repeat -10px -68px;
  cursor: pointer;
  border: none;
  outline: none; }
.centerBox_detail .goodsBox_info .divbtns .divzpbz {
  background: url(../../imges/zpbz.png) no-repeat;
  width: 201px;
  height: 18px; }

/*# sourceMappingURL=details.css.map */
